body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
}


a {
    text-decoration: none;    
}

a:hover {    
    color: #FF7931;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 1170px;
    margin: 0 auto;
}

.logo {        
    font-family: 'Playfair Display', serif;
    font-weight: 900;    
    letter-spacing: 1px;
    color: rgb(0,0,0);     
}

.logo-header {
    font-size: 35px;
    margin-top: 60px; 
    margin-bottom: 46px;
}

.navigation__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;    
    margin-bottom: 47px;
    margin-top: 0;   
}

.navigation__item {
    display: inline-block;
}

.navigation__link {
    color: rgb(0,0,0);
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.main-news {  
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex-grow: 1;
    background: url(../img/underwater_hotel-1440x464.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    padding: 45px 0 44px 0;    
    box-sizing: border-box;   
}

.main-news__title {    
    font-size: 72px;
    letter-spacing: 2px;
    margin-top: 32px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 139px;
    font-weight: 400;
}

.main-news__description {       
    text-align: center;    
    line-height: 21px;       
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.reviews {
    width: 1170px;
    margin: 0 auto;
    padding-top: 44px;  
    padding-bottom: 51px;    
}

.reviews__title {
    font-size: 17px;
    letter-spacing: 2px;    
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;    
    font-weight: bold;    
}

.reviews__list {
    margin: 0;
    display: flex;     
    padding: 0;
    list-style: none;
    justify-content: space-between;
       
}
.reviews__item {
    display: flex;    
    flex-direction: column;
    flex-basis: 370px;
}

.reviews__item h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.reviews__link {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 23px;
    color: rgb(0,0,0);
}

.reviews__text {
    font-size: 14px;
    line-height: 150%;    margin: 0;
    
}

.promo {    
    background: radial-gradient(circle, #ffffff 353px, #F7F7F7 353px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0 36px 0;      
}

.promo__title {
    font-size: 17px; 
    letter-spacing: 2px;  
    text-transform: uppercase;    
    margin-top: 0;
}

.promo__list {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0;
    margin: 0 0 25px 0;
    list-style: none;
    width: 370px;
    text-align: center;    
}

.promo__item h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 23px;
    margin-bottom: 10px;
}

.promo__item p {
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    height: 63px;
    font-weight: 400;
}

.promo__item span {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 1px;
    background-color: rgba(0,0,0, 0.2);
}

.promo__button {
    display: flex;
    justify-content: center;    
    background-color: #FF7931;    
}

.promo__link {    
    color: #ffffff;
    font-size: 12px;      
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;    
}

.button {
    width: 170px;
    height: 47px;  
    background-color: #FF7931;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.button:hover {
    color: #ffffff;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.button__append {
    text-align: center;
    margin-left: 7px;
}

.button__image {
    vertical-align: middle;
}

.page-footer {
    background-color: #575757;
    padding-top: 26px;
    padding-bottom: 46px;
    margin: 50px auto 0 auto;    
}

.footer-nav {
    border-bottom: 1px solid rgba(255,255,255, 0.4);
}

.logo-footer {
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.footer-nav .navigation__list a {
    color: #ffffff;
}

.footer-nav .navigation__list a:hover {
    color: #FF7931;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;  
    padding: 0; 
    margin: 0; 
}

.social__item {    
    display: flex;
    width: 47px;
    height: 47px;
    background-color: #ffffff;
    margin: 42px 7px 0px 7px;
}

.social__item:hover {    
    background-color: #FF7931;
}

.social__link {
    display: flex;
    flex-grow: 1;
}

.social__icon {
    display: block;
    margin: auto;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

@media only screen and (max-width : 1199px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
      
}
    
@media only screen and (max-width : 991px) {
    
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}


@media only screen and (max-width : 767px) {  
    
}

@media only screen and (max-width : 576px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
}

@media only screen and (max-width : 360px) {
    
    
}