body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;    
}

a:hover {    
    color: #FF7931;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 1170px;
    margin: 0 auto;
}

.logo {    
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;    
    letter-spacing: 1px;
    color: rgb(0,0,0)
}

.logo--top {
    margin-top: 60px; 
}

.navigation__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin: 40px;    
}

.navigation__item {
    display: inline-block;
}

.navigation__link {
    color: rgb(0,0,0);
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

